.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);


}

.text-container {
    position: relative;
    line-height: 80px;
}

.rot-text {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 60px;
    transform-origin: bottom left;
    transform: rotate(270deg);
    padding-left: 18px;
    padding-bottom: 16px;
}


h1 {
    font-size: 90px;
    font-weight: 700;
    line-height: 80px;
}

h2 {
    font-size: 52px;
    color: #4B47FF;
    text-transform: uppercase;
    font-weight: 400;
    vertical-align: bottom;
}

button {
    margin-top: 45px;
    padding: 15px 30px;
    background-color: #00BEE8;
    color: #fff;
    font-size: 23px;
    border-radius: 10px;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
        transform: scale(1.125);
        transition: 0.125s;
        background-color: #4B47FF;
    }
}


@media (max-width: 600px) {
    button {
      padding: 12px 24px;
    }
  }