.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110px;
  // border: 1px solid white;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141d2f;
  z-index: 10000;
}

#logo {
  font-size: 36px;
  font-weight: 700;
}

#logo-s {
  // color: #00BEE8;
}

.nav {
  display: flex;
  gap: 35px;

  a {
    font-size: 23px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: #00BEE8;
      transition: 0.2s;
    }
  }

}