.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110px;
  border: 1px solid white;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-size: 36px;
  font-weight: 700;
}

.nav {
  display: flex;
  gap: 35px;

  a {
    font-size: 23px;
    font-weight: 300;
    text-decoration: none;
    color: #fff;

    &:hover {
      color: #00BEE8;
      transition: 0.2s;
    }
  }

}