<div class="menu">
  <!-- <span class="logo">Andrea<span id="logo-s">s</span></span> -->
  <img src="assets/img/logo4.png" alt="" id="logo" #logo>
  <div class="nav">
    <a abScrollTo target="#about">About me</a>
    <a abScrollTo target="#skills">Skills</a>
    <a abScrollTo target="#portfolio">Portfolio</a>
  </div>
  <div class="menu-icon desktop" (click)="toggleMenu()">
    <div class="line"></div>
  </div>
  <!-- <img class="menu-icon" [src]="icon_src" (click)="toggleMenu()"> -->
</div>

<div class="mobile-menu">
  <div class="mobile-header">
    <span class="logo">Andrea<span id="logo-s">s</span></span>
    <div class="menu-icon mobile" (click)="toggleMenu()">
      <div class="line"></div>
    </div>
    <!-- <img class="menu-icon" [src]="icon_src" (click)="toggleMenu()"> -->
  </div>
    <a abScrollTo target="#about" (click)="toggleMenu()">About me</a>
    <a abScrollTo target="#skills" (click)="toggleMenu()">Skills</a>
    <a abScrollTo target="#portfolio" (click)="toggleMenu()">Portfolio</a>
    <a abScrollTo target="#contact" (click)="toggleMenu()">Contact</a>
</div>
