<div class="container">
  <div class="footer-line">
    <div class="name-box">
      <span id="name">Andreas</span>
      <div class="link-box">
        <div class="underline"></div>
      </div>
    </div>
    <span id="copy">
      © Andreas Burghardt
    </span>
    <div class="social-box">
      <a href="https://github.com/kaba8986" target="blank">
        <img src="../../assets/img/ref_git.png" alt="">
      </a>
      <a href="">
        <img src="../../assets/img/ref_mail.png" alt="">
      </a>
      <a href="" target="blank">
        <img src="../../assets/img/ref_in.png" alt="">
      </a>
    </div>
  </div>
  <div class="link-box">
    <a id="impress-link" routerLink="/impress">Impressum</a>
    <div class="underline"></div>
  </div>
</div>
