<div class="container">
  <div class="footer-line">
    <span id="copy">
      {{copyRight}}
    </span>
    <div class="social-box">
      <a [href]="githubLink" target="blank">
        <img src="assets/img/ref_git.png" alt="">
      </a>
      <a [href]="linkedinLink" target="blank">
        <img src="assets/img/ref_in.png" alt="">
      </a>
      <a [href]="xingLink" target="blank">
        <img src="assets/img/ref_xi.png" alt="">
      </a>
    </div>
  </div>
  <div class="link-box">
    <a id="impress-link" routerLink="/impress">
      Imprint
    </a>
    <div class="underline"></div>
  </div>
</div>
