<div class="container">
  <div class="about-text">
    <h1>About me</h1>
    <p>Hi, I am a Frontend Web Developer based in Germany with a passion for technology and design from Front-end of Websites and Web Applications. I'm always open to Job opportunities where I can supply, learn and grow. Please feel free to check out some of my work in the Projects section.</p>
    <div class="personals">
      <div class="img-box">
        <img src="assets/img/about_lamp.png" alt="">
      </div>
      <p>When I'm not coding, I am following my passion as a Full-stack musician. I play the piano and create music by arranging or working with my choirs in my free time.</p>
    </div>
    <div class="personals">
      <div class="img-box">
        <img src="assets/img/about_puzzle.png" alt="">
      </div>
      <p>Other times I am reading or learning new development technologies, playing video games or spending time with my family and dog.</p>
    </div>
  </div>
  <div class="profile-container">  
    <img class="profile-pic" src="assets/img/profile1.png" alt="">
    <div class="line"></div>
  </div>

</div>

