.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  padding: 130px 0 0 200px;
  position: relative;
  gap: 100px;
}

.about-text {
  width: 500px;
}


h1 {
  margin-bottom: 30px;
  position: relative;
  display: inline-block;
  transition: 0.5s;
  transform-origin: left;
  transform: scale(1.0);
}

h1:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #00BEE8;
  transform-origin: right;
  transition: 0.5s;
}

p {
  transition: 1s;
}

.personals {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-top: 40px;
}

.img-box {
  position: relative;
  display: inline-block;
  width: 80px;
  transition: 1s;

    img {
    width: 45px;
    height: 45px;
    object-fit: contain;
  }
}

.profile-container {
  display: flex;
  align-items: center;
  width: 800px;
}

.profile-pic {
  min-width: 420px;
  height: 420px;
  object-fit: contain;
  border-radius: 50%;
  border: 4px solid #00BEE8;
}

.line {
  height: 4px;
  width: 100%;
  background-color: #00BEE8;
}


@media (max-width: 1500px) {
  .container {
    padding:   0 0 0 120px;
    margin-top: 0;
  }

  .profile-container {
    width: 600px;
  }
}

@media (max-width: 1240px) {
  .profile-pic {
    min-width: 300px;
    height: 300px;
  }

  .line {
    // width: 0px;
  }
}



@media (max-width: 1020px) {
  .container {
    padding:   0 100px;
    gap: 60px;
  }

  .profile-container {
    width: auto;
  }

  .line {
    width: 0px;
  }
}


@media (max-width: 940px) {

  .container {
    padding:   0 80px;
  }

  .about-text {
    width: 100%;
  }

  .profile-container {
    display: none;
  }
}

@media (max-width: 720px) {
  .container {
    padding:   0 40px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 0 25px;
    margin-top: 0;
  }
}


