<div class="container">
  <div class="about-text">
    <h1>About me</h1>
    <p>Hi, I am a Front-end developer based in Kraichtal, Germany (...) Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium incidunt sed, quos facere ab et modi nemo adipisci perferendis rerum atque nihil commodi perspiciatis expedita totam temporibus dolor deserunt voluptatum!</p>
    <div class="personals">
      <div class="img-box">
        <img src="../../assets/img/about_lamp.png" alt="">
      </div>
      <p>Some personal things to share (...) Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio ab quod sequi at iure vel et voluptates.</p>
    </div>
    <div class="personals">
      <div class="img-box">
        <img src="../../assets/img/about_puzzle.png" alt="">
      </div>
      <p>Some personal things to share (...) Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam distinctio ab quod sequi at iure vel et voluptates.</p>
    </div>
  </div>
  <img class="profile-pic" src="../../assets/img/profile1.png" alt="">
  <div class="line"></div>
</div>

