<div class="container">
  <div class="about-text">
    <h1>About me</h1>
    <p>Hi, I am a Frontend Web Developer based in Germany having passion for all things technology and design from Front-end of Websites and Web Applications. I'm alwas open to Job opportunities where I can supply, learn and grow.  Please feel free to check out some of my work in the Projects section.</p>
    <div class="personals">
      <div class="img-box">
        <img src="assets/img/about_lamp.png" alt="">
      </div>
      <p>>When I'm not coding, I am following my passion as Full-stack musician. In my free time I play the piano, create some music by arranging or work with choirs.</p>
    </div>
    <div class="personals">
      <div class="img-box">
        <img src="assets/img/about_puzzle.png" alt="">
      </div>
      <p> Other times I am reading or learning new development technologies, play video games or spend time with my family and dog.</p>
    </div>
  </div>
  <div class="profile-container">  
    <img class="profile-pic" src="assets/img/profile1.png" alt="">
    <div class="line"></div>
  </div>

</div>

