<div class="container">
  <h1 data-aos="fade-down">Contact</h1>
  <div class="content">
    <div class="text-box">
      <h2>Got a problem to solve?</h2>
      <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
        projects with my work.</p><br>
      <p>Need a Frontend developer? <span>Contact me!</span></p>
    </div>
    <div class="form-box">
      <form (submit)="sendMail()" method="post" ngNativeValidate #myForm>

        <!-- Input Name -->
        <div class="form-group">
          <input type="text" class="form-control" name="name" placeholder="Your name" [(ngModel)]="name"
            #nameNgModel="ngModel" abInputValidator
            [class.is-invalid]="(nameNgModel.touched || nameNgModel.dirty) && nameNgModel.errors?.inputInvalid" required
            #nameField>
          <span class="invalid-feedback"
            *ngIf="(nameNgModel.touched || nameNgModel.dirty) && nameNgModel.errors?.inputInvalid">
            Name is required.
          </span>
          <img src="../../assets/img/alert.png" alt="" class="invalid-icon"
            *ngIf="(nameNgModel.touched || nameNgModel.dirty) && nameNgModel.errors?.inputInvalid">
        </div>
        <div class="form-group">

          <!-- Input Mail -->

          <input type="email" class="form-control" name="email" placeholder="Your email" [(ngModel)]="email"
            #emailNgModel="ngModel" abInputValidator
            [class.is-invalid]="(emailNgModel.touched || emailNgModel.dirty) && emailNgModel.errors?.inputInvalid"
            required required #emailField>
          <span class="invalid-feedback"
            *ngIf="(emailNgModel.touched || emailNgModel.dirty) && emailNgModel.errors?.inputInvalid">
            Valid email is required.
          </span>
          <img src="../../assets/img/alert.png" alt="" class="invalid-icon"
            *ngIf="(emailNgModel.touched || emailNgModel.dirty) && emailNgModel.errors?.inputInvalid">

          <!-- Input Message -->

        </div>
        <div class="form-group">
          <textarea name="message" id="message" cols="30" rows="10" placeholder="Your message" [(ngModel)]="message"
            #messageNgModel="ngModel" abInputValidator
            [class.is-invalid]="(messageNgModel.touched || messageNgModel.dirty) && messageNgModel.errors?.inputInvalid"
            required #messageField></textarea>
          <span class="invalid-feedback"
            *ngIf="(messageNgModel.touched || messageNgModel.dirty) && messageNgModel.errors?.inputInvalid">
            Message is empty.
          </span>
          <img src="../../assets/img/alert.png" alt="" class="invalid-icon"
            *ngIf="(messageNgModel.touched || messageNgModel.dirty) && messageNgModel.errors?.inputInvalid">
        </div>

        <!-- Send Button -->

        <button class="button-primary" type="submit" #sendButton data-aos="fade-up">Send message</button>

      </form>
      <img class="to-top" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseOut()" [src]="url" alt="" abScrollTo
        target="#home" data-aos="fade-left">
    </div>
  </div>
</div>