<div class="container">
  <h1 data-aos="fade-down">Contact</h1>
  <div class="content">
    <div class="text-box">
      <h2>Got a problem to solve?</h2>
      <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your
        projects with my work.</p><br>
      <p>Need a Frontend developer? <span>Contact me!</span></p>
    </div>
    <div class="form-box">
      <form (submit)="sendMail()" method="post" ngNativeValidate #myForm>
        <div class="form-group">
          <input type="text"
                 class="form-control"
                 name="name"
                 placeholder="Your name"
                 [(ngModel)]="name"
                 [class.is-invalid]="(nameNgModel.touched || nameNgModel.dirty) && nameNgModel.errors?.['inputInvalid']"
                 #nameNgModel="ngModel"
                 abInputValidator
                 required
                 #nameField>
          @if ((nameNgModel.touched || nameNgModel.dirty) && nameNgModel.errors?.['inputInvalid']) {
            <span class="invalid-feedback">
              Name is required.
            </span>
          }
          @if ((nameNgModel.touched || nameNgModel.dirty) && nameNgModel.errors?.['inputInvalid']) {
            <img src="../../assets/img/alert.png" alt="Invalid input." class="invalid-icon">
          }
        </div>
        <div class="form-group">
          <input type="email"
                 class="form-control"
                 name="email"
                 placeholder="Your email"
                 #emailNgModel="ngModel"
                 abInputValidator
                 [(ngModel)]="email"
                 [class.is-invalid]="(emailNgModel.touched || emailNgModel.dirty) && emailNgModel.errors?.['inputInvalid']"
                 required
                 #emailField>
          @if ((emailNgModel.touched || emailNgModel.dirty) && emailNgModel.errors?.['inputInvalid']) {
            <span class="invalid-feedback">
              Valid email is required.
            </span>
          }
          @if ((emailNgModel.touched || emailNgModel.dirty) && emailNgModel.errors?.['inputInvalid']) {
            <img src="../../assets/img/alert.png" alt="Invalid input." class="invalid-icon">
          }
        </div>
        <div class="form-group">
              <textarea name="message"
                        id="message"
                        cols="30"
                        rows="10"
                        placeholder="Your message"
                        #messageNgModel="ngModel"
                        abInputValidator
                        [(ngModel)]="message"
                        [class.is-invalid]="(messageNgModel.touched || messageNgModel.dirty) && messageNgModel.errors?.['inputInvalid']"
                        required
                        #messageField>
              </textarea>
          @if ((messageNgModel.touched || messageNgModel.dirty) && messageNgModel.errors?.['inputInvalid']) {
            <span class="invalid-feedback">
              Message is empty.
            </span>
          }
          @if ((messageNgModel.touched || messageNgModel.dirty) && messageNgModel.errors?.['inputInvalid']) {
            <img src="../../assets/img/alert.png" alt="Invalid input." class="invalid-icon">
          }
        </div>

        <button class="button-primary"
                type="submit"
                #sendButton
                data-aos="fade-up">
          Send message
        </button>
      </form>
      <svg lucideCircleArrowUp
           class="to-top"
           size="60"
           strokeWidth="1"
           abScrollTo
           target="#home"
           data-aos="fade-left">
      </svg>
    </div>
  </div>
</div>
