<div class="container">
  <h1>Contact</h1>
  <div class="content">
    <div class="text-box">
      <h2>Got a problem to solve?</h2>
      <p>Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.</p><br>
      <p>Need a Frontend developer? <span>Contact me!</span></p>
    </div>
    <div class="form-box">
      <form action="">
        <input type="text" name="name" id="name" placeholder="Your name">
        <input type="email" name="email" id="email" placeholder="Your email">
        <textarea name="message" id="message" cols="30" rows="10" placeholder="Your message"></textarea>
        <input type="submit" value="Send message">
      </form>
    </div>
  </div>
</div>