<div class="container">
  <div class="portfolio-text">

      <div class="line1"></div>
      <div class="text-box">
        <h1>Portfolio</h1>
        <p>This page is a sample of my work - please feel free to try them out.</p>
        <div class="line3"></div>
      </div>
      <div class="line2"></div>

  </div>
  <div class="project-container">
    <div class="filter-buttons">
      <button class="filter-btn filter-active" (click)="filter('all')">All</button>
      <button class="filter-btn" (click)="filter('java')">JavaScript</button>
      <button class="filter-btn" (click)="filter('angular')">Angular</button>
    </div>
    <ab-project *ngFor="let project of projects; let i = index;" [reverse]="i%2 == 1" [currProject]="project"></ab-project>
  </div>
</div>