.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.portfolio-text {

  text-align: center;
}

.portfolio-title {
  position: relative;
}

h1 {
  padding: 40px;
  background-color: #141d2f;
}

.line {
  position: absolute;
  height: 4px;
  background-color: #4B47FF;
  z-index: -300;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 75vw;
}

