<div class="container">
  <div class="portfolio-text">
    <div class="line1" data-aos="fade-left"></div>
    <div class="text-box">
      <h1 data-aos="fade-left">Portfolio</h1>
      <p>This page is a sample of my work - please feel free to try them out.</p>
      <div class="line3" data-aos="fade-left"></div>
    </div>
    <div class="line2" data-aos="fade-left"></div>
  </div>
  <div class="project-container">
    <div class="filter-buttons">
      <button class="button-secondary"
              [class.button-primary]="isActive('all')"
              (click)="resetFilter(); setActive('all')">
        All
      </button>
      <button class="button-secondary"
              [class.button-primary]="isActive('javascript')"
              (click)="filter('javascript'); setActive('javascript')">
        JavaScript
      </button>
      <button class="button-secondary"
              [class.button-primary]="isActive('angular')"
              (click)="filter('angular');
              setActive('angular')">
        Angular
      </button>
    </div>
    @for (project of projects; track project; let i = $index) {
      <ab-project [reverse]="revertView(i)"
                  [currProject]="project">
      </ab-project>
    }
  </div>
</div>
