.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: center;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

.portfolio-text {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.portfolio-title {
  width: 100%;
  position: relative;
}

h1 {
  padding: 40px;
  background-color: #141d2f;
}

.line {
  position: absolute;
  height: 4px;
  background-color: #4B47FF;
  z-index: -300;
  right: 0px;
  top: 10%;
  width: 75vw;
}

.project-container {
  padding-top: 120px;
}
