.container {
  display: flex;
  justify-content: center;
  align-items: center;
} 

img {
  width: 500px;
  padding-right: 50px;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 500px;
  text-align: left;
  padding-left: 50px;
}

h3 {
  font-size: 32px;
  font-weight: 700px;
  color: #4B47FF;
}

h4 {
  font-size: 23px;
  font-weight: 400;
  color: #00BEE8;
}


.links {
  display: flex;
  gap: 80px;
  margin-top: 20px;

  a {
    font-size: 23px;
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    padding: 12px 32px;
  }

}


.live-test {
  background-color: #4B47FF;
  border-radius: 10px;
  transition: 0.2s;

  &:hover {
    background-color: #00BEE8;
    transition: 0.2s;
  }
}

.github {
  border: 1px solid #00BEE8;
  border-radius: 10px;
  background-color: transparent;
  transition: 0.2s;

  &:hover {
    background-color: #00BEE8;
    transition: 0.2s;
  }
}

.flex-reverse {
  flex-direction: row-reverse;
}

.img-reverse {
  padding-right: 0;
  padding-left: 50px;
}

.desc-reverse {
  padding-left: 0;
  padding-right: 50px;
  text-align: right;
}

.links-reverse {
  justify-content: flex-end;
}