<div class="container" [class.flex-reverse]="reverse">
  <img [class.img-reverse]="reverse" src="assets/img/projects/{{ currProject.image }}" alt="">
  <div class="description" [class.desc-reverse]="reverse">
    <h3>{{ currProject.title }}</h3>
    <h4>{{ currProject.languages }}</h4>
    <p>{{ currProject.description }}</p>
    <div class="links" [class.links-reverse]="reverse">
      <a class="live-test" target="blank"  href="{{ currProject.live }}">Live test</a>
      <a class="github" target="blank" href="{{ currProject.github }}">Github</a>
    </div>
  </div>
</div>
