/* You can add global styles to this file, and also import other style files */
@import "~aos/dist/aos.css";
@import "./app/shared/styles/colors.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


html, body { height: 100%; }
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $bg-1;
  color: $font-light;
  overflow-x: hidden;
}

h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 110px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

.d-none {
  visibility: hidden;
  display: none;
}

.color-brand-1 {
  color: $brand-1;
}

.color-brand-2 {
  color: $brand-2;
}

.button-primary,
.button-secondary {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  transition: 0.125s;
  cursor: pointer;
}

.button-primary {
  background-color: $brand-1;
  color: $font-dark;
  border: 1px solid $brand-1;

  &:hover {
    transition: 0.125s;
    background-color: $brand-2;
  }
}

.button-secondary {
  background-color: transparent;
  color: $brand-1;
  border: 1px solid $brand-1;

  &:hover {
    transition: 0.125s;
    background-color: $brand-1;
    color: $font-dark;
  }
}

/* Importing Bootstrap SCSS file. */

@media (max-width: 1240px) {
    h1 {
      font-size: 70px !important;
      line-height: 80px;
    }
}


@media (max-width: 720px) {
  h1 {
    font-size: 60px !important;
    line-height: 70px;
  }

  h2 {
    font-size: 23px !important;
  }
}


@media (max-width: 560px) {
  h1 {
    font-size: 45px !important;
    line-height: 60px;
  }
}