/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #141d2f;
  color: #fff;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1 {
  font-size: 90px;
  font-weight: 700;
  line-height: 110px;
}

p {
  font-size: 16px;
  font-weight: 300;
}

/* Importing Bootstrap SCSS file. */

