<div class="container" [ngStyle]="{'opacity': opacVal}">
  <div class="greeting-tile">
    <span class="color-brand-2">&lt;h2 class="main-title"&gt;</span><br>
    <h1>Hey <br>
    I'm  <span class="color-brand-1">Andreas</span><br>
    Front-End Developer</h1><span class="color-brand-2">&lt;/h2&gt;</span><br>
    <br>
    <span class="color-brand-2">&lt;p&gt;</span><br>
    <p>
      I enable companies to unlock their potential by crafting great web experiences. <br>
      If you're looking for a developer who works quickly and effectively,
    </p>
    <span class="color-brand-2">&lt;/p&gt;</span><br>
    <div class="contact">
      <h2 class="color-brand-1">Let's link up</h2>
      <img src="../../assets/img/mail.svg" alt="contact icon" abScrollTo target="#contact" >
    </div>
  </div>
</div>