.container {
  width: 100%;
  min-height: 100%;
  border: 1px solid red;
  padding: 110px 100px;
}

.img-box {
  width: 400px;
  height: 100%;
  background: yellow;
}

.content-box {
  width: 60%;
  height: 100%;
}