<div class="container">
  <ab-home-greeting></ab-home-greeting>
</div>
<div class="references">
  <div class="line"></div>
  <a href="https://github.com/kaba8986" target="blank">
    <img src="../../assets/img/ref_git.png" alt="">
  </a>
  <a href="">
    <img src="../../assets/img/ref_mail.png" alt="">
  </a>
  <a href="" target="blank">
    <img src="../../assets/img/ref_in.png" alt="">
  </a>

  <span>andreas-burghardt@gmx.net</span>
</div>
<div class="scroll-hint">
  <span>Scroll down</span>
  <span class="material-icons">arrow_forward</span>
</div>