@import '../../app/shared/styles/colors.scss';
@import '../../app/shared/styles/utils.scss';

.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 $default-padding;
  gap: 40px;
  position: relative;
}

h1 {
  font-size: 4.25rem;
  line-height: 5rem;
  font-weight: 400;
}

h2 {
  font-size: 3rem;
  font-weight: 400;
}

p {
  line-height: 1.75rem;
  padding: 0.5rem;
}

h1, h2, p {
  padding-left:  1.5rem;
}

.greeting-tile {
  margin-top: $header-height;
  padding: 2rem;
}

.contact {
  display: flex;
  align-items: center;
  gap: 2rem;

  img {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    &:hover {
      opacity: 0.6; 
    }
  }
}


@media (max-width: 1560px) {
  .container {
    padding: 0 120px;
  }
}

@media (max-width: 1500px) {
  .container {
    padding: 0 120px;
  }
}


@media (max-width: 1240px) {
  .container {
    padding: 0 120px;
  }

}


@media (max-width: 1100px) {
  .container {
    flex-direction: column;
    padding: 130px 120px;
    gap: 0px;
  }
}

@media (max-width: 1020px) {
  .container {
    flex-direction: column;
    padding: 130px 100px;
    gap: 0px;
  }
}

@media (max-width: 940px) {
  .container {
    padding: 130px 80px;
  }
}

@media (max-width: 860px) {
  #rot {
    font-size: 90px;
    bottom: 89px;
  }

  #prof {
    font-size: 46px;
  }

  #name {
    font-size: 86px;
  }
}

@media (max-width: 800px) {
  #mail {
    display: none;
  }
}

@media (max-width: 720px) {
  .container {
    padding: 300px 40px 130px;
    min-height: auto;
  }
}



@media (max-width: 670px) {

  .greeting {
    max-width: auto;
    min-width: auto;
  }

  #name {
    font-size: 66px;
    line-height: 80px;
    padding-left: 72px;
  }

  #rot {
    font-size: 68px;
    bottom: 79px;
    left: 70px;
  }

  #prof {
    font-size: 42px;
    text-shadow: 2px 2px 3px rgba($color: rgb(0, 0, 0), $alpha: 0.6);
  }

  .references {
    gap: 25px;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 300px 25px 130px 25px;
  }
}

@media (max-width: 520px) {

}

@media (max-width: 476px) {

}


@media (max-width: 380px) {
  .container {
    padding-bottom: 180px;
  }
}