<div class="container">
  <div class="profile-box">
    <img id="profile" src="assets/img/profile1.png" alt="">
    <img class="blurs" id="blur1" src="assets/img/shadow_purple_home.png" alt="">
    <img class="blurs" id="blur2" src="assets/img/shadow_green_home.png" alt="">
  </div>
  <img id="gradient" src="assets/img/gradient1.png" alt="">
  <div class="greeting">
    <div class="text-box">
      <span id="name">Andreas Burghardt</span>
      <span id="prof">Frontend Developer</span>
      <span class="rot-text" id="rot">I am</span>
    </div>
    <button abScrollTo target="#contact">Let's talk!</button>
  </div>
  <div class="references">
    <div class="line"></div>
    <a href="https://github.com/kaba8986" target="blank">
      <img src="assets/img/ref_git.png" alt="">
    </a>
    <a abScrollTo target="#contact">
      <img src="assets/img/ref_mail.png" alt="">
    </a>
    <a href="https://www.linkedin.com/in/andreas-burghardt-743563260/" target="blank">
      <img src="assets/img/ref_in.png" alt="">
    </a>
    <span id="mail">andreas-burghardt@gmx.net</span>
  </div>
  <div class="scroll-hint">
    <span>Scroll down</span>
    <span class="material-icons">arrow_forward</span>
  </div>
</div>